<div class="card m-2" id="comments-new">
    <div class="card-body">

        <form>
            <div class="mb-3">
                <label class="form-label">Nick Name</label>
                <input class="form-control from-control-sm" id="new-comment-nickname">
            </div>

            <div class="mb-3">
                <label class="form-label">Content</label>
                <textarea class="form-control from-control-sm" rows="3" id="new-comment-body"></textarea>
            </div>

            {{#article}}
            <input type="hidden" id="new-comment-article-id" value="{{id}}">
            {{/article}}

            <button type="button" class="btn btn-outline-primary btn-sm" id="comment-create-btn">댓글 작성</button>
        </form>
    </div>
</div>

<script>
{
    //댓글 생성 버튼 변수화
   const commentCreateBtn = document.querySelector("#comment-create-btn");

   //버튼 클릭 이벤트 감지!
   commentCreateBtn.addEventListener("click", function() {
    //새 댓글 객체 생성
    const comment = {
    nickname: document.querySelector("#new-comment-nickname").value,
    body: document.querySelector("#new-comment-body").value,
    article_Id: document.querySelector("#new-comment-article-id").value
    };

    console.log(comment);

    // fetch() Talend API 요청을 JAVAScript로 보내준다!
    const url ="/api/articles/" + comment.article_Id + "/comments";
    fetch(url, {
        method: "post",
        body: JSON.stringify(comment), //comment JS 객체를 JSON로 변경하여 보냄
        headers: {
            "Content-Type": "application/Json"
            }
    }).then(response => {
        //http 응답 코드에 따른 메세지 출력
        const msg = (response.ok) ? "댓글이 등록되었습니다." : "댓글 등록 실패";
        alert(msg);
        //윈도우 새로 고침
        window.location.reload();}
    );
   });
}

</script>